.navigation {
  display: flex;
  grid-column: 1/2;
  height: 100%;
  position: relative;
  .side-navigation:has(.nav-li.active-li:not(:hover)) {
    @include response(phone) {
      .side-nav {
        .nav-li.active-li {
          .side-nav-icon {
            color: #5a5a5a;
          }
        }
      }
    }
  }
  .side-navigation:has(.logo-div > .logo-checkbox:checked) {
    .side-nav,
    .side-nav-help,
    .sub-menu-nav {
      display: none;
    }
  }
  .side-navigation:has(.nav-li.active-li:hover) ~ .sub-menu-nav {
    @include response(phone) {
      display: block;
      opacity: 1;
      position: absolute;
      right: 0%;
      pointer-events: auto;
      gap: 3rem;
      transform: translateX(100%);
      height: 100%;
      .sub-menu {
        margin-top: 3rem;
      }
    }
  }
  .side-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: $white-primary;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .logo-div {
      border-bottom: 1px solid rgb(226, 225, 225);
      padding-bottom: 1.2rem;
      align-self: stretch;
      display: flex;
      justify-content: center;
      .logo-checkbox {
        display: none;
      }
      .logo-label {
        pointer-events: none;
        @include response(phone) {
          pointer-events: auto;
        }
        .side-nav-logo-img {
          height: 3.8rem;
          width: 3.8rem;
          transform: rotate(90deg);
        }
      }
      @include response(s-tab-port) {
        padding-bottom: 1.7rem;
      }
      @include response(phone) {
        padding-bottom: 1rem;
      }
    }
    .side-nav {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-li {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        transition: background-color 0.4s;
        &:hover {
          background-color: $nav-primary;
        }
        .side-nav-icon {
          color: #5a5a5a;
          transition: color 0.4s;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }
        &:hover + .sub-menu-nav {
          display: block;
        }
      }
      .nav-li.active-li {
        background-color: $nav-primary;
        .side-nav-icon {
          color: $black;
        }
        @include response(phone) {
          background-color: $white-primary;
          .side-nav-icon {
            color: $text-grey-light;
          }
          &:hover {
            background-color: $nav-primary;
            .side-nav-icon {
              color: $black;
            }
          }
        }
      }
    }
    .side-nav-help {
      font-size: 1.5rem;
      text-decoration: none;
      background-color: $black;
      border-radius: 50%;
      color: $white-primary;
      padding: 3px 1rem;
      transition: all 0.4s;
      &:hover {
        // background-color: $white-primary;
        box-shadow: 0 0 10px rgb(104, 103, 103);
      }
    }
  }
  .sub-menu-nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 10000;
    transition: opacity 0.5s;
    padding-top: 1rem;
    background-color: $nav-primary;
    @include response(laptop) {
      width: 250px;
    }
    @include response(phone) {
      display: none;
      opacity: 0;
      width: 200px;
    }
    .sub-menu-heading {
      border-bottom: 1px solid rgb(226, 225, 225);
      padding-bottom: 1rem;
      max-height: max-content;
      .logo-name {
        font-size: 2.3rem;
        font-weight: 600;
        text-transform: capitalize;
        padding-left: 2.5rem;
      }
      .heading-secondary {
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 500;
        display: block;
        margin-top: -5px;
        padding-left: 2.5rem;
      }
    }
    .sub-menu {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      .sub-menu-links {
        list-style: none;
        font-size: 1.4rem;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          .open-menu-li {
            display: block;
            height: auto;
            .open-menu-links {
              .open-link-names {
                opacity: 1;
              }
            }
          }
        }
        text-transform: capitalize;
        .closed-menu-li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .right-icon {
            transition: transform 0.3s;
          }
          &:hover {
            .right-icon {
              transform: rotate(90deg);
            }
          }
        }
        .open-menu-li {
          display: none;
          height: 0%;
          padding: 1rem;
          transform: translateX(1rem);
          font-weight: normal;
          font-size: 1.2rem;
          // flex-grow: 1;
          flex-shrink: 1;
          transition: height 0.5s;
          @include response(phone) {
            height: auto;
            display: block;
          }
          .open-menu-links {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .open-link-names {
              opacity: 0;
              transition: opacity 0.5s 0.1s;
              width: 80%;
              color: #515151;
              @include response(phone) {
                opacity: 1;
              }
              &:hover {
                cursor: pointer;
                color: black;
              }
            }
            .open-link-names:last-child {
              font-weight: 600;
              color: $black;
            }
          }
        }
      }
    }
  }
}
.navigation:has(.logo-div > .logo-checkbox:checked) + .logo-label {
  height: 5rem;
  grid-row: 1/-1;
  position: relative;
  z-index: 10000;
}
.navigation:has(.logo-div > .logo-checkbox:checked) {
  .logo-div {
    margin-left: 2rem;
    background-color: none;
  }
}
.navigation:has(.logo-div > .logo-checkbox:unchecked) {
  grid-column: 2/-1;
}
.navigation:has(.logo-div > .logo-checkbox:checked) ~ main {
  grid-column: 1/-1;
}
.navigation:has(.logo-div > .logo-checkbox:unchecked) ~ main {
  @include response(phone) {
    .project-summary {
      padding-top: 2rem;
    }
  }
}
.navigation:has(.logo-div > .logo-checkbox:checked) ~ main {
  .project-summary {
    padding-top: 0rem;
  }
}
